<div class="container">
  <app-cockpit 
  (serverCreated)="OnServerAdded($event)"
  (bpCreated)="OnBluePrintAdded($event)">
  </app-cockpit>
  <hr>
  <div class="row">
    <div class="col-lg-12">
      <div
        class="card card-body mb-2"
        *ngFor="let serverElement of serverElements">
        <!-- v bind serverElement object to the element property -->
        <!-- here each serverElement is an object -->
          <app-server [myElement]="serverElement"></app-server>
      </div>
    </div>
  </div>
</div>
